.Detail {    
	display: flex!important;
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2); 
	border-radius: 5px;
	min-width: 38rem;
	text-align: left;
}
.Detail h1 {
	padding: 4px 12px;
	background-color: bisque;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.Detail img {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}
.Spec {
	padding: 1rem;
	margin-left: 16px;
}
.Spec h4 {
	margin-bottom: 0;
	color: rgba(49, 49, 49, 0.5)
}

.Drawer {   
    margin: 0 auto;
    display: block;
    height: 80vh;
    text-align: center;    
}
.Drawer .Spec {
    margin: 0;   
}
.Drawer img {
    height: 140px;
    width: 140px;
}
.ShowDrawer {
    display: none;
}

@media (max-width: 992px) {
    .Detail {
        display: none !important;
    }
    .ShowDrawer {
        display: block;
		}
}		