.GenderGraph {
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2); 
	border-radius: 5px;
	min-width: 38rem;
	margin-top: 2rem;
}

@media (max-width: 992px) {
	.GenderGraph {
			margin: 2rem auto;
			min-width: auto;
	}
}