.Card {
	width: 300px;
}
.Cover {
	display: none;
}
@media (max-width: 992px) {
	.Card {
			width: 100%;
			margin-top: 1rem;
	}
	.Avatar {
			width: 120px !important;
			height: 120px !important;
	}
}
@media (max-width: 500px) {
	.Meta {
			display: block;
			float: none;
	}
	.Avatar {
			display: none;
	}
	.Cover {
			display: block;
			margin: 0.5rem auto;
			width: 110px !important;
			height: 110px !important;
	}
}